{% extends "base.html" %}

{% block title %}
    Data Display
{% endblock %}

{% block content %}
<!-- Intro section -->

<!-- Logo section -->
<div class="text-center mt-4">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Unemployment Matric Reader Logo" class="logo">
</div>

<!-- Welcome message -->
<div class="container mt-4">
    <div class="text-center">
        <h1>Welcome to Unemployment Matric Reader</h1>
        <p>This app provides insights into employment status and student statistics per district.</p>
        <p>Explore the options in the navigation menu to view the data.</p>
    </div>
</div>

<!-- Team section -->
<div class="container mt-4">
    <div class="text-center">
        <h2>Our Team</h2>
        <p>Meet the dedicated individuals behind this project:</p>
        <ul class="list-unstyled">
            <li><span class="icon"><i class="fas fa-user-tie"></i></span> Colleen Malatji  <a href="https://www.linkedin.com/in/colleen-malatji-25281a17b/" target="_blank"><i class="fab fa-linkedin"></i></a> <a href="https://github.com/C01133n" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><span class="icon"><i class="fas fa-user-tie"></i></span> Kopano Maluleke  <a href="https://github.com/KopanoMaluleke" target="_blank"><i class="fab fa-linkedin"></i></a> <a href="https://github.com/kopano-profile" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><span class="icon"><i class="fas fa-user-tie"></i></span> Sinoviyo Gcanga  <a href="https://www.linkedin.com/in/sinovuyo-gcanga-b1b035189/" target="_blank"><i class="fab fa-linkedin"></i></a> <a href="https://github.com/SinovuyoG" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><span class="icon"><i class="fas fa-user-tie"></i></span> Zainap Van Blerck  <a href="https://www.linkedin.com/in/zainap-van-blerck-928277251/" target="_blank"><i class="fab fa-linkedin"></i></a> <a href="https://github.com/Zainap16" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><span class="icon"><i class="fas fa-user-tie"></i></span> Shaqeel Less  <a href="https://www.linkedin.com/in/shaqeel-less-11979a186/" target="_blank"><i class="fab fa-linkedin"></i></a> <a href="https://github.com/MogammadShaqeelless16" target="_blank"><i class="fab fa-github"></i></a></li>
        </ul>
    </div>
</div>

<!-- Open source message -->
<div class="container mt-4">
    <div class="text-center">
        <p>This project is open source and contributions are welcome. Visit our GitHub repository to learn more.</p>
        <a href="https://github.com/Zainap16/Unemployment_Matric_Reader" class="btn btn-secondary">GitHub Repository</a>
    </div>
</div>

<!-- Bootstrap JS and any additional scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
